extends layout

block content
  div(class='page-header')
    h1 Quoinex BTC to ETH
  table(class='display')
    thead
      tr
        th Currency
        th USD
        th SGD
        th ETH
        th Percentage

block script
  script(src='/javascripts/be.js')
