extends layout

block content
  div.row
    div.col-md-12
      div.page-header
        h1 Bitfinex
      table.display#bitfinex
        thead
          tr
            th Symbol
            th Price
            th 4H
            th 1D
            th 1W
            th 1M

block script
  script(src='/javascripts/bitfinex.js')
