extends layout

block content
  div(class='page-header')
    h1 BTCUSD
  table(class='display')
    thead
      tr
        th Exchange
        th Country
        th Ask
        th Bid
        th Percentage
    tbody

block script
  script(src='/javascripts/btc.js')
