extends layout

block content
  div(class='page-header')
    h1 ETHBTC
  table(class='display')
    thead
      tr
        th Action
        th Ask
        th Bid
        th Percentage
        th Amount
        th Spread

block script
  script(src='/javascripts/eb.js')
