extends layout

block content
  table(class='display')
    thead
      tr
        th Exchange
        th Ask
        th Bid
        th Percentage
    tbody

block script
  script(src='/javascripts/eth.js')
