extends layout

block content
  div(class='page-header')
    h1 ETHUSD
  table(class='display')
    thead
      tr
        th Exchange
        th Ask
        th Bid
        th Percentage
    tbody

block script
  script(src='/javascripts/eth.js')
