extends layout

block content
  table(class='display')
    thead
      tr
        th Exchange
        th Ask (USD)
        th Bid (USD)
        th Percentage
    tbody

block script
  script(src='/javascripts/eth.js')
