doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      nav(class='navbar navbar-default')
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class='navbar-brand', href='/') LIBAI
          div(class='navbar-collapse collapse', id='navbar')
            ul(class='nav navbar-nav')
              li
                a(class='nav-link', href='/bitfinex') BITFINEX
              li
                a(class='nav-link', href='/') BTC
              li
                a(class='nav-link', href='/eth') ETH
              li
                a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Matrix
                  span(class="caret")
                ul(class='dropdown-menu')
                  li
                    a(class='dropdown-item', href='/matrix/usd', target='_blank') USD
                  li
                    a(class='dropdown-item', href='/matrix/eth', target='_blank') ETH
                  li
                    a(class='dropdown-item', href='/matrix/btc', target='_blank') BTC
              li(class='dropdown')
                a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Exchange
                  span(class="caret")
                ul(class='dropdown-menu')
                  li
                    a(class='dropdown-item', href='/qqb', target='_blank') QQB
                  li
                    a(class='dropdown-item', href='/qq', target='_blank') QQ
                  li
                    a(class='dropdown-item', href='/qqbp', target='_blank') QQBP
                  li(role="separator", class="divider")
                  li
                    a(class='dropdown-item', href='/quoine', target='_blank') Quoine
                  li
                    a(class='dropdown-item', href='/cycle', target='_blank') Cycle
                  li
                    a(class='dropdown-item', href='/spread', target='_blank') Spread
                  li
                    a(class='dropdown-item', href='/order', target='_blank') Order
                  li(role="separator", class="divider")
                  li
                    a(class='dropdown-item', href='/price_qe', target='_blank') QASHETH Price
                  li
                    a(class='dropdown-item', href='/price_qb', target='_blank') QASHBTC Price
                  li
                    a(class='dropdown-item', href='/price', target='_blank') QASH Price
      block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js')
    block script
