doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      nav(class='navbar navbar-default')
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class='navbar-brand', href='/') LIBAI
          div(class='navbar-collapse collapse', id='navbar')
            ul(class='nav navbar-nav')
              li
                a(class='nav-link', href='/') BTC
              li
                a(class='nav-link', href='/eth') ETH
              li(class='dropdown')
                a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Quoinex Qryptos Bitfinex
                  span(class="caret")
                ul(class='dropdown-menu')
                  li
                    a(class='dropdown-item', href='/qqb') QQB
                  li
                    a(class='dropdown-item', href='/qq') QQ
                  li(role="separator", class="divider")
                  li
                    a(class='dropdown-item', href='/bte') Quoine BTC to ETH
                  li
                    a(class='dropdown-item', href='/ste') Quoine SGD to ETH
                  li
                    a(class='dropdown-item', href='/qtb') Bitfinex QASH to BTC
                  li
                    a(class='dropdown-item', href='/cycle') Cycle
      block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    block script
