extends layout

block content
  div.row
    div.col-md-12
      div.page-header
        h1 Bitfinex
      table.display#ledger
        thead
          tr
            th ID
            th CURRENCY
            th PLACEHOLDER
            th MTS
            th PLACEHOLDER
            th AMOUNT
            th BALANCE
            th PLACEHOLDER
            th DESCRIPTION

block script
  script(src='/javascripts/ledger.js')
