extends layout

block content
  h3 QASHBTC
  table.display#price_qb
    thead
      tr
        th Currency
        th Exchange
        th Type
        th Amount
        th Price
        th Value
        th Timestamp

    tfoot
      tr
        th
        th
        th
        th
        th
        th
        th
        
block script
  script(src='/javascripts/price/price_qb.js')      