extends layout

block content
  table(class='display')
    thead
      tr
        th Exchange
        th Country
        th Ask
        th Bid
        th Percentage
        th Amount

block script
  script(src='/javascripts/qash.js')
