extends layout

block content
  div(class='page-header')
    h1 QASHETH
  table(class='display', id='qe')
    thead
      tr
        th Exchange
        th Ask
        th Bid
        th Percentage
        th Amount
        th Spread

block script
  script(src='/javascripts/qe.js')
