extends layout

block content
  table(class='display', id='qes')
    thead
      tr
        th Action
        th Sell
        th Buy
        th Percentage
        th QASHETH
        th ETHSGD

block script
  script(src='/javascripts/qes.js')
