extends layout

block content
  div.row
    div.col-md-6.col-md-offset-3
      h3 Balance
      table.display#balance
        thead
          tr
            th Exchange
            th BTC
            th ETH
            th QASH
            th USD

    div.col-md-6
      h3 QASHETH
      table.display#qe
        thead
          tr
            th Exchange
            th Ask
            th Bid
            th 
              span.label.quoine quoine
            th 
              span.label.qryptos qryptos
            th 
              span.label.bitfinex bitfinex
              
    div.col-md-6
      h3 QASHBTC
      table.display#qb
        thead
          tr
            th Exchange
            th Ask
            th Bid
            th 
              span.label.quoine quoine
            th 
              span.label.qryptos qryptos
            th 
              span.label.bitfinex bitfinex
    
    div.col-md-6
      h3 QASHUSD
      table.display#qu
        thead
          tr
            th Exchange
            th Ask
            th Bid
            th Percentage
            th Amount
            th Spread

    div.col-md-6
      h3 ETHBTC
      table.display#eb
        thead
          tr
            th Exchange
            th Ask
            th Bid
            th 
              span.label.quoine quoine
            th 
              span.label.qryptos qryptos
            th 
              span.label.bitfinex bitfinex
            th 
              span.label.poloniex poloniex
            th 
              span.label.bittrex bittrex

    div.col-md-6
      h3 ETHUSD
      table.display#eu
        thead
          tr
            th Exchange
            th Ask
            th Bid
            th 
              span.label.quoine quoine
            th 
              span.label.bitfinex bitfinex
            th 
              span.label.poloniex poloniex
            th 
              span.label.bittrex bittrex
    
    div.col-md-6
      h3 BTCUSD
      table.display#bu
        thead
          tr
            th Exchange
            th Ask
            th Bid
            th 
              span.label.quoine quoine
            th 
              span.label.bitfinex bitfinex
            th 
              span.label.poloniex poloniex
            th 
              span.label.bittrex bittrex

block script
  script(src='/javascripts/balance.js')
  script(src='/javascripts/qe.js')
  script(src='/javascripts/qb.js')
  script(src='/javascripts/qu.js')
  script(src='/javascripts/eb.js')
  script(src='/javascripts/eu.js')
  script(src='/javascripts/bu.js')
