extends layout

block content
  form.form-horizontal
    div.form-group
      label.col-md-2.control-label quoine Buy
      div.col-md-4
        select#quoine_buy
          option YES
          option NO
      label.col-md-2.control-label quoine Sell
      div.col-md-4
        select#quoine_sell
          option YES
          option NO
    div.form-group
      label.col-md-2.control-label qryptos Buy
      div.col-md-4
        select#qryptos_buy
          option YES
          option NO
      label.col-md-2.control-label qryptos Sell
      div.col-md-4
        select#qryptos_sell
          option YES
          option NO
    div.form-group
      label.col-md-2.control-label bitfinex Buy
      div.col-md-4
        select#bitfinex_buy
          option YES
          option NO
      label.col-md-2.control-label bitfinex Sell
      div.col-md-4
        select#bitfinex_sell
          option YES
          option NO

  div.row
    div.col-md-6
      h3 QASHETH
      table.display#qqb
        thead
          tr
            th Exchange
            th Ask
            th Bid
            th 
              span.label.quoine quoine
            th 
              span.label.qryptos qryptos
            th 
              span.label.bitfinex bitfinex

    div.col-md-6
      h3 QASH USD SGD
      table.display#qus
        thead
          tr
            th Exchange
            th Ask
            th Bid
            th Percentage
            th SGDUSD
            th Spread
    
    div.col-md-6
      h3 QASH BTC
      table.display#qb
        thead
          tr
            th Action
            th Ask
            th Bid
            th Percentage
            th Amount
            th Spread

block script
  script(src='/javascripts/qqb.js')
  script(src='/javascripts/qus.js')
  script(src='/javascripts/qb.js')
