extends layout

block content
  h3 Quoine Qryptos Bitfinex Poloniex
  table.display#qqbp
    thead
      tr
        th Pair
        th Quoine Ask
        th Quoine Bid
        th Bitfinex Ask
        th Bitfinex Bid
        th Poloniex Ask
        th Poloniex Bid

block script
  script(src='/javascripts/qqbp.js')
