extends layout

block content
  div(class='page-header')
    h1 Bitfinex QASH to BTC
  table(class='display', id='qtb')
    thead
      tr
        th Currency
        th ETH
        th BTC
        th Percentage

block script
  script(src='/javascripts/qtb.js')
