extends layout

block content
  div(class='page-header')
    h1 
      span(class='label label-warning') Qryptos
  table(class='display', id='qryptos')
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th 24h Volumn
        th Coinmarketcap Price
        th Coin Ask Percentage
        th Coin Bid Percentage
        th 24h Change
        th Disabled
  
  div(class='page-header')
    h1 
      span(class='label label-primary') Quoinex
  table(class='display', id='quoine')
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th 24h Volumn
        th 24h Change
        th Disabled

block script
  script(src='/javascripts/spread_quoine.js')
  script(src='/javascripts/spread_qryptos.js')