extends layout

block content
  div(class='page-header')
    h1 
      span(class='label label-primary') Quoinex
  table(class='display', id='quoine')
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Spread
        th Percentage
        th 24h Volumn
        th 24h Change
        th Last Price
        th Last Quantity

  div(class='page-header')
    h1 
      span(class='label label-warning') Qryptos
  table(class='display', id='qryptos')
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Spread
        th Percentage
        th 24h Volumn
        th 24h Change
        th Last Price
        th Last Quantity

  div(class='page-header')
    h1 
      span(class='label label-info') Poloniex
  table(class='display', id='poloniex')
    thead
      tr
        th Currency
        th Price


block script
  script(src='/javascripts/spread_quoine.js')
  script(src='/javascripts/spread_qryptos.js')
  script(src='/javascripts/poloniex.js')