extends layout

block content
  div.page-header
    h3 
      span.label.label-info Coin Market Cap Up Coin Percentage
  table.display#change
    thead
      tr
        th 1Hour
        th 24Hour
        th 7Day
    
  div.page-header
    h3
      span.label.liquid liquid
  table.display#liquid
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th 24h Volumn
        th Coinmarketcap Price
        th Coin Ask Percentage
        th Coin Bid Percentage
        th 24h Change
        th USD
        th Disabled

  div.page-header
    h3
      span.label.label-info Coin Market Cap
  table.display#cmc
    thead
      tr
        th Symbol
        th Name
        th USD
        th ETH
        th BTC
        th Change 1h
        th Change 24h
        th Change 7d
  
  div.page-header
    h3
      span.label.binance binance
  table.display#binance
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th Coinmarketcap Price
        th Coin Ask Percentage
        th Coin Bid Percentage
        th Coin 24h Change
        th USD

  div.page-header
    h3
      span.label.quoine quoine
  table.display#quoine
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th 24h Volumn
        th 24h Change
        th Disabled
  
block script
  script(src='/javascripts/spread_change.js')
  script(src='/javascripts/spread_liquid.js')
  script(src='/javascripts/spread_binance.js')
  script(src='/javascripts/cmc.js')