extends layout

block content
  div.page-header
    h3
      span.label.label-warning Qryptos
  table.display#qryptos
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th 24h Volumn
        th Coinmarketcap Price
        th Coin Ask Percentage
        th Coin Bid Percentage
        th 24h Change
        th Disabled

  div.page-header
    h3
      span.label.label-info Coin Market Cap
  table.display#cmc
    thead
      tr
        th Symbol
        th Name
        th USD
        th SGD
        th BTC
        th Change 1h
        th Change 24h
        th Change 7d
        th 1h vs 24h

  div.page-header
    h3
      span.label.label-primary Quoinex
  table.display#quoine
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th 24h Volumn
        th 24h Change
        th Disabled
  

block script
  script(src='/javascripts/spread_qryptos.js')
  script(src='/javascripts/cmc.js')
  script(src='/javascripts/spread_quoine.js')