extends layout

block content
  div.page-header
    h3 
      span.label.label-info Coin Market Cap Up Coin Percentage
  div.row
    div.col-md-4
      h3 1h
        span.label.label-info= up_1h
    div.col-md-4
      h3 24h
        span.label.label-info= up_24h
    div.col-md-4
      h3 7d
        span.label.label-info= up_7d
    
  div.page-header
    h3
      span.label.label-warning Qryptos
  table.display#qryptos
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th 24h Volumn
        th Coinmarketcap Price
        th Coin Ask Percentage
        th Coin Bid Percentage
        th 24h Change
        th Disabled

  div.page-header
    h3
      span.label.label-info Coin Market Cap
  table.display#cmc
    thead
      tr
        th Symbol
        th Name
        th USD
        th ETH
        th BTC
        th Change 1h
        th Change 24h
        th Change 7d

  div.page-header
    h3
      span.label.label-primary Quoinex
  table.display#quoine
    thead
      tr
        th Currency
        th Ask
        th Bid
        th Percentage
        th 24h Volumn
        th 24h Change
        th Disabled
  

block script
  script(src='/javascripts/spread_qryptos.js')
  script(src='/javascripts/cmc.js')
  script(src='/javascripts/spread_quoine.js')