extends layout

block content
  div(class='page-header')
    h1 Quoine SGD to ETH
  table(class='display', id='ste')
    thead
      tr
        th Currency
        th QASH
        th ETH
        th Percentage

block script
  script(src='/javascripts/ste.js')
