body {
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a {
  color: #00B7FF;
}

.quoine {
  background-color: #337ab7;
}

.qryptos {
  background-color: #f0ad4e;
}

.bitfinex {
  background-color: #5cb85c;
}

.poloniex {
  background-color: #0a6970;
}

.bittrex {
  background-color: #f05f40;
}

.binance {
  background-color: #e8b342;
}

.hitbtc {
  background-color: #2da0d2;
}

.allcoin {
  background-color: #4169e1;
}

.yobit {
  background-color: #465a73;
}

.exmo {
  background-color: #347ffb;
}

.buy {
  background-color: #5cb85c;
}

.sell {
  background-color: #d9534f;
}