body {
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a {
  color: #00B7FF;
}

.quoine {
  background-color: #337ab7;
}

.qryptos {
  background-color: #f0ad4e;
}

.bitfinex {
  background-color: #5cb85c;
}

.poloniex {
  background-color: #0a6970;
}

.bittrex {
  background-color: #f05f40;
}

.binance {
  background-color: #e8b342;
}