body {
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a {
  color: #00B7FF;
}

.bitfinex {
  background-color: #5cb85c;
}

.quoine {
  background-color: #337ab7;
}

.qryptos{
  background-color: #f0ad4e;
}
